blib/
.build/
_build/
inc/
Build
!Build/
Build.bat
.last_cover_stats
Makefile
Makefile.old
MANIFEST.bak
META.yml
MYMETA.yml
nytprof.out
pm_to_blib
Build.bat
META.*
MYMETA.*
cover_db/
.lwpcookies
.last_cover_stats
nytprof.out
pod2htm*.tmp
pm_to_blib
Dancer2-Plugin-Emailesque-*
Dancer2-Plugin-Emailesque-*.tar.gz
